services:
  redis:
    container_name: redis
    restart: always
    image: redis
    expose:
      - "6379"
    command: redis-server --save 60 1 --loglevel warning

  backend:
    build: .
    container_name: backend
    command: sh -c "python manage.py prepare_app && gunicorn core.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./core:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - "8000"
    environment:
      - SECRET_KEY=django-insecure-)!w7$7wxdo*5@db%t#s2914wn(-ucf!)945v%p+$uobt@_k_%j
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1
      - EMAIL_HOST=smtp4dev
      - EMAIL_PORT=587
      - EMAIL_USE_TLS=False
      - ALGORITHM=HS256
      - SIGNING_KEY=django-insecure-)!w7$7wxdo*5@db%t#s2914wn(-ucf!)945v%p+$uobt@_k_%j
      - CELERY_BROKER_URL=redis://redis:6379/1
      - BAD_WORDS=word1,word2,word3
    depends_on:
      - redis

  celery_worker:
    build: .
    image: celery_worker
    command: celery -A core worker -l INFO
    depends_on:
      - redis
      - backend
    volumes:
      - ./core:/app
      - media_volume:/app/media
    environment:
      - SECRET_KEY=django-insecure-)!w7$7wxdo*5@db%t#s2914wn(-ucf!)945v%p+$uobt@_k_%j
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1
      - EMAIL_HOST=smtp4dev
      - EMAIL_PORT=587
      - EMAIL_USE_TLS=False
      - ALGORITHM=HS256
      - SIGNING_KEY=django-insecure-)!w7$7wxdo*5@db%t#s2914wn(-ucf!)945v%p+$uobt@_k_%j
      - CELERY_BROKER_URL=redis://redis:6379/1
      - BAD_WORDS=word1,word2,word3

  celery_beat:
    build: .
    image: celery_beat
    command: celery -A core beat -l info
    restart: always
    depends_on:
      - backend
      - redis
    volumes:
      - ./core:/app
    environment:
      - SECRET_KEY=django-insecure-)!w7$7wxdo*5@db%t#s2914wn(-ucf!)945v%p+$uobt@_k_%j
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1
      - EMAIL_HOST=smtp4dev
      - EMAIL_PORT=587
      - EMAIL_USE_TLS=False
      - ALGORITHM=HS256
      - SIGNING_KEY=django-insecure-)!w7$7wxdo*5@db%t#s2914wn(-ucf!)945v%p+$uobt@_k_%j
      - CELERY_BROKER_URL=redis://redis:6379/1
      - BAD_WORDS=word1,word2,word3
  nginx:
    image: nginx:latest
    container_name: django_blog_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - static_volume:/home/app/static
      - media_volume:/home/app/media
    depends_on:
      - backend
      - redis

volumes:
  static_volume:
  media_volume: