<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signUP.css">
    <title>Document</title>
</head>
<body>
    <div class="signup-form">
        <h2>ثبت نام</h2>
        <form action="/signup" method="post">
          <input type="text" placeholder="نام و نام خانوادگی">
          <input type="text" name="username" placeholder="نام کاربری" required>
          <input type="email" name="email" placeholder="ایمیل" required>
          <input type="password" name="password" placeholder="رمز عبور" required>
          <a class="btn" href="#">ثبت‌نام</a>
          <a class="backTo-signIN" href="/signIN/signIN.html">اکانت دارم</a>
        </form>
      </div>
</body>
</html>