{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'accounts/profile.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>User Profile</title>
  </head>
  <body>
    {% include 'messages/messages.html' %}
    {% include 'messages/delete_popup.html' %}
    <div class="profile-container">
      <div class="profilePhoto">
        <img src="{{ profile.image.url }}" alt="Profile Photo" />
      </div>

      <div class="profile-info">
        <label>First Name :</label>
        <span>{{ profile.first_name }}</span>
        <div class="icons">
          <i class="bi bi-pencil-square" title="Edit"></i>
        </div>
      </div>

      <div class="profile-info">
        <label>Last Name :</label>
        <span>{{ profile.last_name }}</span>
        <div class="icons">
          <i class="bi bi-pencil-square" title="Edit"></i>
        </div>
      </div>

      <div class="profile-info">
        <label>Email :</label>
        <span>{{ profile.email }}</span>
        <div class="verifyEmail">
          {% if profile.user.is_verified %}
            <span class="verify-badge verified">Verified</span>
          {% else %}
            <a href="{% url 'accounts:send-verification-email' %}"><span class="verify-badge not-verified">Verify Email</span></a>
          {% endif %}
        </div>
      </div>

      <a href="{% url 'accounts:change-password' %}"><button id="changePasswordBtn">Change Password</button></a>

      <hr />
      {% if perms.blog.add_post %}
        <div class="posts">
          <h3>Created Posts:</h3>

          <a href="{% url 'blog:post-create' %}" class="addPost-btn">Add New Post +</a>

          {% if profile.posts.all %}
            <ul id="userPostsList" class="user-posts">
              {% for post in profile.posts.all %}
                <li>
                  <a href="{% url 'blog:post-detail' slug=post.slug %}">{{ forloop.counter }}. {{ post.title }}</a>
                  <div class="icons">
                    <a href="{% url 'blog:post-edit' slug=post.slug %}"><i class="bi bi-pencil-square" title="Edit"></i></a>
                    <!-- دکمه‌ای که پاپ‌آپ رو باز می‌کنه -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="setSlug('{{ post.slug }}')"><i class="bi bi-trash"></i></button>
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>You haven't created any posts yet.</p>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
