{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'blog/HomPage.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <title>Document</title>
  </head>
  <body>
    {% include 'messages/messages.html' %}
    <div class="">
      <div class="navBar">
        <div class="profile">
          <a href="{% url 'accounts:profile' %}"><i class="bi bi-person-circle"></i></a>
        </div>
        <div class="searchBar">
          <input type="text" placeholder="دنبال چی میگردی؟" />
          <i class="bi bi-search-heart"></i>
        </div>
        <select id="nameFilter" class="nameFilter">
          <option value="">همه</option>
          <option value="asus">Asus</option>
          <option value="dell">Dell</option>
          <option value="hp">HP</option>
        </select>
      </div>
      <div class="cards">
        <h4>پست ها</h4>
        <ul id="laptopList">
          {% for post in posts %}
            <li>
              <img src="{{ post.image.url }}" alt="{{ post.title }}" onerror="this.src='/img/placeholder.jpg'" />
              <h3>{{ post.title }}</h3>
              <div class="button-card">
                <p class="btn">{{ post.author }}</p>
              </div>
              <p class="text">{{ post.content|truncatewords:15 }}</p>
              <a class="buy-btn" href="{% url 'blog:post-detail' post.slug %}">مشاهده پست</a>
            </li>
          {% endfor %}
        </ul>
        <div class="Pagination">
          {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            {% else %}
              <span class="disabled">&lt;</span>
            {% endif %}

            {% for num in paginator.page_range %}
              {% if page_obj.number == num %}
                <p class="current">{{ num }}</p>
              {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            {% else %}
              <span class="disabled">&gt;</span>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
